[submodule "lib/vendor/Socket.IO"]
	path = lib/vendor/web/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "lib/vendor/web/Socket.IO"]
	path = lib/vendor/web/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
